div {
    display: block;
}

.menu {

    text-align: right;
}

.menu img {
    margin-top: 30px;
    width: 400px;
}

.big img {
    width: 780px;
    -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
    box-shadow: 2px 2px 5px 0px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.big {
    text-align: center;
}

#descImg {
    width: 780px;

    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #4c5e96;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

h3 {
    border: 1px;

    color: #4c5e96;
    margin-bottom: 0px;
    margin-left: 30px;
}

#description {
    float: left;

    width: 465px;
}

h5 {
    color: #4c5e96;

    font-style: italic;
    margin-top: 0px;
    margin-left: 60px;
}

p {
    text-align: justify;
    text-indent: 30px;

}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #ffffff;
    overflow: auto;
    padding: 10px;

}

body {
    background-color: #ced8e7;
}

.situation {
    color: #4c5e96;
}

#technique {
    position: relative;
    background-color: #ced8e7;
    margin-top: 10px;
    margin-right: 10px;
    width: 390px;
    float: left;
    border-radius: 5px 5px 5px 5px;

}

#information {
    margin-top: 10px;

    background-color: #ced8e7;;
    width: 390px;
    float: right;
    border-radius: 5px 5px 5px 5px;
    padding-right: 10px;
}

#clear {
    position: relative;
    clear: left;
}

.categorie img {
    width: 800px;
    display: block;
    border-radius: 0px 10px 10px 0px;
    -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
    box-shadow: 2px 2px 5px 0px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.categorie h3 {
    font-size: 1.2em;
    margin: 0;
    padding-left: 10px;
    background-color: #f5d798;
    width: 380px;
    border-radius: 0px 0px 10px 0px;
    -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
    box-shadow: 2px 2px 5px 0px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);

}

.categorie {
    width: 800px;

    border-radius: 0px 10px 0 0px;
    clear: both;

}

#images {
    float: right;
    padding-top: 10px;
}

.image img {
    width: 300px;
    height: 230px;
    margin-bottom: 20px;
    -moz-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -webkit-box-shadow: 2px 2px 5px 0px #9b9b9b;
    -o-box-shadow: 2px 2px 5px 0px #9b9b9b;
    box-shadow: 2px 2px 5px 0px #9b9b9b;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.image {
    position: relative;

}

.image_num {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    background-color: #d0e4fe;
    color: #4c5e96;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}